In [1]:
import pandas as pd
import numpy
import os
from torchtext import datasets
from torchtext.legacy import data

- In this competition, you’ll identify specific clinical concepts in patient notes. 
- Specifically, you'll develop an automated method to map clinical concepts from an exam rubric (e.g., “diminished appetite”) to various ways in which these concepts are expressed in clinical patient notes written by medical students (e.g., “eating less,” “clothes fit looser”). Great solutions will be both accurate and reliable.

- If successful, you'll help tackle the biggest practical barriers in patient note scoring, making the approach more transparent, interpretable, and easing the development and administration of such assessments. As a result, medical practitioners will be able to explore the full potential of patient notes to reveal information relevant to clinical skills assessment.

In [2]:
train = pd.read_table('/Users/suhancho/data/kaggle/nbme/train.csv',sep=',')
test = pd.read_table('/Users/suhancho/data/kaggle/nbme/test.csv',sep=',')
features = pd.read_table('/Users/suhancho/data/kaggle/nbme/features.csv',sep=',')
notes = pd.read_table('/Users/suhancho/data/kaggle/nbme/patient_notes.csv',sep=',')
sub = pd.read_table('/Users/suhancho/data/kaggle/nbme/sample_submission.csv',sep=',')

In [3]:
merged = pd.merge(train,features,on=['case_num','feature_num'])

In [4]:
merged['annotation'] = merged['annotation'].str.replace('[','').str.replace(']','')
merged['annotation'] = merged['annotation'].str.replace("'",'')

/var/folders/3m/68621g4n7pd2p55cvf4c9tmh0000gn/T/ipykernel_17476/1686231979.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['annotation'] = merged['annotation'].str.replace('[','').str.replace(']','')

In [5]:
merged

,id,case_num,pn_num,feature_num,annotation,location,feature_text
0,00016_000,0,16,0,dad with recent heart attcak,['696 724'],Family-history-of-MI-OR-Family-history-of-myoc...
1,00041_000,0,41,0,,[],Family-history-of-MI-OR-Family-history-of-myoc...
2,00046_000,0,46,0,father: heart attack,['824 844'],Family-history-of-MI-OR-Family-history-of-myoc...
3,00082_000,0,82,0,Father MI,['622 631'],Family-history-of-MI-OR-Family-history-of-myoc...
4,00100_000,0,100,0,Dad-MI,['735 741'],Family-history-of-MI-OR-Family-history-of-myoc...
...,...,...,...,...,...,...,...
14295,95145_916,9,95145,916,subjective fever,['169 185'],Subjective-fever
14296,95228_916,9,95228,916,,[],Subjective-fever
14297,95243_916,9,95243,916,feels warm,['376 386'],Subjective-fever
14298,95330_916,9,95330,916,Felt warm,['358 367'],Subjective-fever
14299,95333_916,9,95333,916,Subjective fever,['314 330'],Subjective-fever

In [6]:
merged = merged[['annotation','feature_num']]

In [7]:
merged = merged[merged['annotation']!='']

In [35]:
merged['annotation'] = merged['annotation'].str.replace(':','').str.replace('-',' ').str.replace(',',' ')

In [36]:
merged.to_csv('/Users/suhancho/data/kaggle/nbme/train.tsv',sep='\t',index=None)

In [81]:
len(set(merged['feature_num']))

143