In [1]:
import pandas as pd
import numpy
import os
from torchtext import datasets
from torchtext.legacy import data

- In this competition, you’ll identify specific clinical concepts in patient notes. 
- Specifically, you'll develop an automated method to map clinical concepts from an exam rubric (e.g., “diminished appetite”) to various ways in which these concepts are expressed in clinical patient notes written by medical students (e.g., “eating less,” “clothes fit looser”). Great solutions will be both accurate and reliable.

- If successful, you'll help tackle the biggest practical barriers in patient note scoring, making the approach more transparent, interpretable, and easing the development and administration of such assessments. As a result, medical practitioners will be able to explore the full potential of patient notes to reveal information relevant to clinical skills assessment.

In [90]:
notes_merge = pd.merge(notes,train,on=['pn_num','case_num'])

In [94]:
notes

       pn_num  case_num                                         pn_history
0           0         0  17-year-old male, has come to the student heal...
1           1         0  17 yo male with recurrent palpitations for the...
2           2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3           3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4           4         0  17yo male with no pmh here for evaluation of p...
...       ...       ...                                                ...
42141   95330         9  Ms. Madden is a 20 yo female presenting w/ the...
42142   95331         9  A 20 YO F CAME COMPLAIN A DULL 8/10 HEADACHE T...
42143   95332         9  Ms. Madden is a 20yo female who presents with ...
42144   95333         9  Stephanie madden is a 20 year old woman compla...
42145   95334         9  patient is a 20 yo F who presents with a heada...

[42146 rows x 3 columns]

In [89]:
train

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']
...,...,...,...,...,...,...
14295,95333_912,9,95333,912,[],[]
14296,95333_913,9,95333,913,[],[]
14297,95333_914,9,95333,914,['photobia'],['274 282']
14298,95333_915,9,95333,915,['no sick contacts'],['421 437']
14299,95333_916,9,95333,916,['Subjective fever'],['314 330']

In [82]:
train = pd.read_table('/Users/suhancho/data/kaggle/nbme/train.csv',sep=',')
test = pd.read_table('/Users/suhancho/data/kaggle/nbme/test.csv',sep=',')
features = pd.read_table('/Users/suhancho/data/kaggle/nbme/features.csv',sep=',')
notes = pd.read_table('/Users/suhancho/data/kaggle/nbme/patient_notes.csv',sep=',')
sub = pd.read_table('/Users/suhancho/data/kaggle/nbme/sample_submission.csv',sep=',')

In [85]:
test_merged = pd.merge(test,features,on=['case_num','feature_num'])

In [86]:
test_merged

,id,case_num,pn_num,feature_num,feature_text
0,00016_000,0,16,0,Family-history-of-MI-OR-Family-history-of-myoc...
1,00016_001,0,16,1,Family-history-of-thyroid-disorder
2,00016_002,0,16,2,Chest-pressure
3,00016_003,0,16,3,Intermittent-symptoms
4,00016_004,0,16,4,Lightheaded

In [3]:
merged = pd.merge(train,features,on=['case_num','feature_num'])

In [4]:
merged['annotation'] = merged['annotation'].str.replace('[','').str.replace(']','')
merged['annotation'] = merged['annotation'].str.replace("'",'')

/var/folders/3m/68621g4n7pd2p55cvf4c9tmh0000gn/T/ipykernel_17476/1686231979.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged['annotation'] = merged['annotation'].str.replace('[','').str.replace(']','')

In [5]:
merged

,id,case_num,pn_num,feature_num,annotation,location,feature_text
0,00016_000,0,16,0,dad with recent heart attcak,['696 724'],Family-history-of-MI-OR-Family-history-of-myoc...
1,00041_000,0,41,0,,[],Family-history-of-MI-OR-Family-history-of-myoc...
2,00046_000,0,46,0,father: heart attack,['824 844'],Family-history-of-MI-OR-Family-history-of-myoc...
3,00082_000,0,82,0,Father MI,['622 631'],Family-history-of-MI-OR-Family-history-of-myoc...
4,00100_000,0,100,0,Dad-MI,['735 741'],Family-history-of-MI-OR-Family-history-of-myoc...
...,...,...,...,...,...,...,...
14295,95145_916,9,95145,916,subjective fever,['169 185'],Subjective-fever
14296,95228_916,9,95228,916,,[],Subjective-fever
14297,95243_916,9,95243,916,feels warm,['376 386'],Subjective-fever
14298,95330_916,9,95330,916,Felt warm,['358 367'],Subjective-fever
14299,95333_916,9,95333,916,Subjective fever,['314 330'],Subjective-fever

In [6]:
merged = merged[['annotation','feature_num']]

In [7]:
merged = merged[merged['annotation']!='']

In [35]:
merged['annotation'] = merged['annotation'].str.replace(':','').str.replace('-',' ').str.replace(',',' ')

In [36]:
merged.to_csv('/Users/suhancho/data/kaggle/nbme/train.tsv',sep='\t',index=None)

In [81]:
len(set(merged['feature_num']))

143